@media screen and (max-width: 640px) {
    .nav-item {
        margin:3px 0;
    }
    .container {
        width:80%!important;
       
    }
    .data-frame, iframe {
       display:none!important;
    }
    .desc {
        margin:1rem 1rem; 
        letter-spacing:0.3;
    }
    .nav-item .hiddn {
        display:none!important;

    }
    .hidden {
        display:block!important;
        
    }
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: left;
        /* padding-left: 50%; */
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
   
}
.btn-ex {
    margin:1rem 0;
}

 .hidden {
    display:none;
}
.navbar-toggler:focus {
    color:white!important;
    border:2px solid black!important;

}
.data-frame, iframe {
    width:85%;
    height:80vh!important;
    display:flex;
    justify-items:center;
    margin-left:6rem;
    margin-bottom:2rem;
}

